/* body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
} */

form{
    height: 80%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;

}

p{
    font-weight: 600;
    margin: 10px;
}

button{
    margin: 10px;
    background-color: blue;
    color: whi;
}

#q1{
    display: flex;
    flex-direction: column;
    
}
#q2{
    display: flex;
    flex-direction: column;

}
#q3{
    display: flex;
    flex-direction: column;

}
#q4{
    display: flex;
    flex-direction: column;

}
#q5{
    display: flex;
    flex-direction: column;

}


#result {
    height: 100px;
    height: 100vw;
}